#!/bin/sh

echo "Installing system packages..."
{{ if eq .chezmoi.os "linux" -}}
~/bin/install/install-debian-base
{{ else if eq .chezmoi.os "darwin" -}}
sh ~/bin/install/install-macos-base
{{ else if eq .chezmoi.os "freebsd" -}}
sh ~/bin/install/install-freebsd-base
{{ else if eq .chezmoi.os "netbsd" -}}
sh ~/bin/install/install-netbsd-base
{{ else if eq .chezmoi.os "openbsd" -}}
sh ~/bin/install/install-openbsd-base
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
echo "Installing Starship..."
curl -sS https://starship.rs/install.sh | sh
{{ end -}}

echo "Installing hishtory..."
curl https://hishtory.dev/install.py | python3 -

echo "Setting shell to zsh..."
{{ if eq .chezmoi.os "linux" -}}
chsh -s /usr/bin/zsh
{{ else if eq .chezmoi.os "darwin" -}}
chsh -s /bin/zsh
{{ else if eq .chezmoi.os "freebsd" -}}
chsh -s /usr/local/bin/zsh
{{ else if eq .chezmoi.os "netbsd" -}}
chsh -s /usr/pkg/bin/zsh
{{ else if eq .chezmoi.os "openbsd" -}}
chsh -s /usr/local/bin/zsh
{{ end -}}
zsh
