#!/bin/sh

echo "Installing system packages..."
{{ if eq .chezmoi.os "linux" -}}
~/bin/install/install-debian-base
{{ else if eq .chezmoi.os "darwin" -}}
sh ~/bin/install/install-macos-base
{{ else if eq .chezmoi.os "freebsd" -}}
sh ~/bin/install/install-freebsd-base
{{ else if eq .chezmoi.os "netbsd" -}}
sh ~/bin/install/install-netbsd-base
{{ else if eq .chezmoi.os "openbsd" -}}
sh ~/bin/install/install-openbsd-base
{{ end -}}

# Install devbox
{{ if (and (ne .chezmoi.os "netbsd") (ne .chezmoi.os "openbsd")) }}
echo "Installing devbox..."
curl -fsSL https://get.jetpack.io/devbox | bash
{{ end }}

# Change shell
echo "Setting shell to zsh..."
{{ if eq .chezmoi.os "linux" -}}
chsh -s /usr/bin/zsh
{{ else if eq .chezmoi.os "darwin" -}}
chsh -s /bin/zsh
{{ else if eq .chezmoi.os "freebsd" -}}
chsh -s /usr/local/bin/zsh
{{ else if eq .chezmoi.os "netbsd" -}}
chsh -s /usr/pkg/bin/zsh
{{ else if eq .chezmoi.os "openbsd" -}}
chsh -s /usr/local/bin/zsh
{{ end -}}

# TODO: Move this to a post-install script. Include hishtory. Encrypt this.
## Set up perl
#echo "Installing Perl..."
#sudo cpan App::cpanminus
#sudo cpanm App::cpm
#sudo cpm install -w 8 -g --with-all --show-build-log-on-failure --cpanfile ~/bin/install/perl-devdeps/cpanfile
#sudo cpm install -w 8 -g --with-all --show-build-log-on-failure --cpanfile ~/bin/install/dancer-xs/cpanfile
#
#echo "Initializing devbox..."
#eval "$(devbox global shellenv --recompute)"

